table {
    border-spacing: 0;
}
table td {
    border: 1px black solid;
    margin: 0;
    text-align: right;
    width: 50px;
}
table tr td:first-child {
    background-color: #98cfaa;
    text-align: center;
    width: 25px;
}
table tr:first-child td {
    background-color: #98cfaa;
    text-align: center;
}
